---
const { class: className } = Astro.props;
---

<svg
  class={className}
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  viewBox="0 0 590.16 81.86"
  xml:space="preserve"
  fill="currentColor"
>
  <title>High Order</title>
  <circle cx="1763.21" cy="487.35" r="78.35"></circle>
  <path
    d="M0 1.87h24.91v26.55h13.92V1.87h25.03v78H38.83V50.99H24.91v28.89H0V1.87zm72.04 0h26.43v78H72.04v-78zm84.32 26.55c-1.4-1.25-3.16-2.2-5.26-2.87-2.11-.66-4.17-.99-6.2-.99-2.26 0-4.33.41-6.2 1.23s-3.49 1.95-4.85 3.39c-1.36 1.44-2.44 3.18-3.22 5.2-.78 2.03-1.17 4.21-1.17 6.55s.43 4.52 1.29 6.55c.86 2.03 2.03 3.76 3.51 5.2 1.48 1.44 3.22 2.57 5.2 3.39s4.11 1.23 6.37 1.23c2.65 0 5.07-.56 7.25-1.7 2.18-1.13 4.05-2.67 5.61-4.62h-7.02V34.62h30.06v25.96c-1.79 3.2-3.94 6.1-6.43 8.71-2.5 2.61-5.28 4.85-8.36 6.72-3.08 1.87-6.41 3.31-10 4.33a40.812 40.812 0 01-11.11 1.52c-5.61 0-10.92-1.05-15.91-3.16-4.99-2.1-9.34-4.99-13.04-8.65-3.7-3.66-6.63-7.99-8.77-12.98-2.15-4.99-3.22-10.37-3.22-16.14 0-5.61 1.01-10.91 3.04-15.9 2.03-4.99 4.81-9.34 8.36-13.04 3.55-3.7 7.76-6.63 12.63-8.77C133.81 1.07 139.05 0 144.66 0c4.37 0 8.15.43 11.34 1.29 3.2.86 5.89 1.83 8.07 2.92 2.57 1.25 4.72 2.61 6.43 4.09l-14.14 20.12zm83.43 12.51c0-5.61 1.07-10.91 3.22-15.9 2.14-4.99 5.07-9.34 8.77-13.04 3.7-3.7 8.05-6.63 13.04-8.77C269.81 1.07 275.11 0 280.72 0c5.61 0 10.91 1.07 15.9 3.22 4.99 2.14 9.34 5.07 13.04 8.77 3.7 3.7 6.63 8.05 8.77 13.04 2.14 4.99 3.22 10.29 3.22 15.9s-1.07 10.92-3.22 15.91c-2.14 4.99-5.07 9.34-8.77 13.04-3.7 3.7-8.05 6.63-13.04 8.77-4.99 2.14-10.29 3.22-15.9 3.22-5.61 0-10.92-1.07-15.91-3.22-4.99-2.14-9.34-5.07-13.04-8.77-3.7-3.7-6.63-8.05-8.77-13.04-2.14-4.99-3.21-10.3-3.21-15.91zm24.56 0c0 2.26.43 4.39 1.29 6.37.86 1.99 2.03 3.72 3.51 5.2s3.22 2.65 5.2 3.51c1.99.86 4.11 1.29 6.37 1.29s4.39-.43 6.38-1.29c1.99-.86 3.72-2.03 5.2-3.51s2.65-3.22 3.51-5.2c.85-1.99 1.29-4.11 1.29-6.37s-.43-4.39-1.29-6.37c-.86-1.99-2.03-3.72-3.51-5.2s-3.22-2.65-5.2-3.51c-1.99-.86-4.12-1.29-6.38-1.29s-4.39.43-6.37 1.29c-1.99.86-3.72 2.03-5.2 3.51s-2.65 3.22-3.51 5.2c-.86 1.99-1.29 4.11-1.29 6.37zm63.74-39.06h26.9c4.99 0 9.61.66 13.86 1.99s7.93 3.27 11.05 5.85c3.12 2.57 5.56 5.75 7.31 9.53 1.75 3.78 2.63 8.13 2.63 13.04 0 3.9-.55 7.21-1.64 9.94-1.09 2.73-2.3 4.99-3.62 6.78-1.56 2.03-3.31 3.74-5.26 5.15l14.62 25.73H364.7L353 60.11v19.76h-24.91v-78zM353 40.23h1.29c2.96 0 5.48-.66 7.54-1.99 2.06-1.33 3.1-3.55 3.1-6.67s-1.03-5.34-3.1-6.67c-2.07-1.33-4.58-1.99-7.54-1.99H353v17.32zm43.27 39.65v-78h21.64c7.33 0 13.86.82 19.59 2.46 5.73 1.64 10.56 4.09 14.5 7.37 3.94 3.27 6.94 7.35 9.01 12.22 2.07 4.87 3.1 10.51 3.1 16.9s-1.03 12.03-3.1 16.9c-2.07 4.87-5.07 8.95-9.01 12.22-3.94 3.27-8.77 5.75-14.5 7.43-5.73 1.68-12.26 2.51-19.59 2.51h-21.64zm24.91-22.22c5.85 0 10.37-1.38 13.57-4.15 3.2-2.77 4.8-7 4.8-12.69s-1.6-9.9-4.8-12.63c-3.2-2.73-7.72-4.09-13.57-4.09v33.56zm49.35-55.79h45.96v20.47h-21.05v8.65h20.7V50.4h-20.7v9.01h21.87v20.47h-46.78V1.87z"
  ></path>
  <path
    d="M247.83 73.82c-4.19-4.19-7.54-9.16-9.95-14.78-2.43-5.66-3.67-11.75-3.67-18.11 0-6.35 1.23-12.44 3.67-18.11 2.41-5.62 5.76-10.59 9.95-14.78 1.31-1.31 2.73-2.51 4.19-3.65V1.87h-25.03v26.55h-13.92V1.87h-24.91v78h24.91V50.99h13.92v28.89h25.03v-2.4c-1.46-1.15-2.87-2.35-4.19-3.66zM524.32 1.87h26.9c4.99 0 9.61.66 13.86 1.99s7.93 3.27 11.05 5.85c3.12 2.57 5.56 5.75 7.31 9.53 1.75 3.78 2.63 8.13 2.63 13.04 0 3.9-.55 7.21-1.64 9.94-1.09 2.73-2.3 4.99-3.62 6.78a25.608 25.608 0 01-5.26 5.15l14.62 25.73h-29.24l-11.69-19.76v19.76h-24.91V1.87zm24.91 38.36h1.29c2.96 0 5.48-.66 7.54-1.99 2.06-1.33 3.1-3.55 3.1-6.67s-1.03-5.34-3.1-6.67c-2.07-1.33-4.58-1.99-7.54-1.99h-1.29v17.32z"
  ></path>
</svg>
